:root {
    background-color: turquoise;
}

.centre {
    text-align: center;
}

.centre-text-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon {
    margin-right: 5px;
}