<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AW2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="search-wrapper">
        <div class="search-card">
            <h1>🌦️ Aussie's Weather Webapp | Non-breaking change</h1>

            <form action="/town_info_get" method="get" class="search-form">
                <label for="townsearch">
                    <p>
                        Search for town:
                        <br>
                        <input id="townsearch" list="towns" name="town" placeholder="e.g. Sydney, NSW" required>
                        <button type="submit">Go</button>
                    </p>
                </label>
                <datalist id="towns">
                    {% for town in towns.keys() %}
                        <option value="{{ town|e }}"></option>
                    {% endfor %}
                </datalist>
            </form>
        </div>
    </div>
    
</body>
</html>
