<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The main webpage of this webapp">
    <meta name="keywords" content="weather, australia, webapp">
    <title>AW2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="centre">Aussie's Weather Webapp</h1>
    <h2 class="centre">Could not find that page.</h2>

    <form action="/town_info_get" method="get">
        <label for="townsearch">
            <p class="centre">
                Maybe try searching for a town?
                <br>
                <input id="townsearch" list="towns" name="town">
                <button type="submit">Go</button>
            </p>
        </label>
        <datalist id="towns">
        {% for town in towns.keys() %}
            <option value="{{ town|e }}"></option>
        {% endfor %}
        </datalist>
    </form>

</body>
</html>