<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The main webpage of this webapp">
    <meta name="keywords" content="weather, australia, webapp">
    <title>AW2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="centre">Aussie's Weather Webapp</h1>

    <form action="/town_info_get" method="get">
        <label for="townsearch">
            <p class="centre">
                Which town would you like to find information on?
                <br>
                <input id="townsearch" list="towns" name="town" required>
                <button type="submit">Go</button>
            </p>
        </label>
        <datalist id="towns">
        {% for town in towns.keys() %}
            <option value="{{ town|e }}"></option>
        {% endfor %}
        </datalist>
    </form>

    <h2 class="centre">Forecast for {{ town_name }}</h2>

    {% for key_date in town_data.keys() %}
        <div class="centre">
            <h3>{{ key_date }}</h3>
                <div class="centre-text-with-image">
                    <img src="{{ url_for('static', filename='' + town_data[key_date]['forecast_icon_code'])  }}" class="weather-icon">
                    <strong>{{ town_data[key_date]["precis"] }}</strong>
                </div>
            </p>
            {% if 'air_temperature_minimum' in town_data[key_date].keys() %}
                <p>Minimum: {{ town_data[key_date]["air_temperature_minimum"] }} °C</p>
            {% endif %}
            {% if 'air_temperature_maximum' in town_data[key_date].keys() %}
                <p>Maximum: {{ town_data[key_date]["air_temperature_maximum"] }} °C</p>
            {% endif %}
            <p>Chance of rain: {{ town_data[key_date]["probability_of_precipitation"] }}</p>
            {% if 'precipitation_range' in town_data[key_date].keys() %}
                <p>Potential rainfall: {{ town_data[key_date]["precipitation_range"] }}</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>